.data-grid{
    height:70%;
    margin: 5em 1.5vw 0vh 1.5vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:2fr 1fr;
    grid-gap:12px;

}

.data-box{
    border:1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    opacity: 0.75;
    padding:12px;
    font-size:150%;
    cursor: default;
    
}

.box1{
    grid-column: 1/4;
}

.box1>h1{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;    
}

.box2>h3{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.box3>h3{
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box4>h3{
    background-color: #f71735;
background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (max-device-width: 480px) {
    .data-box{
        font-size:100%;
    }
    .box1{
        font-size: 125%;
    }
}